body{
    font-family: 'Montserrat', sans-serif;
}

.main-title{
    font-size: 80px;
    text-align: center;
    padding: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: 'Creepster', cursive;
}

.map-container{
    display: grid;
    grid-template-columns: 330px auto;
    margin: 0px;
    width: 80vw;
}

