.main-title{
    font-size: 80px;
    text-align: center;
    padding: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: 'Creepster', cursive;
}

.map-container{
    margin: 0px;
}

