.desc-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.desc-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22em;
    padding: 1.5em;
    margin-bottom: -1em;
}

.intro-title{
    font-family: 'Creepster', cursive;
    color:rgb(223, 53, 53);
}

.desc-text{
    text-align: justify;
    font-size: 0.9em;
    color: aliceblue;
}

@media only screen and (max-width: 400px) {
    .desc-wrapper {
        width: 20em;
        padding: 1.5em;
        margin-bottom: -1em;
    }
}

@media only screen and (min-width: 550px) {
    .desc-wrapper {
        width: 33em;
        padding: 2em;
        margin-bottom: -1.5em;
    }

    .desc-text{
        text-align: justify;
        font-size: 1em;
        color: aliceblue;
    }
}

@media only screen and (min-width: 800px) {

}

@media only screen and (min-width: 1025px) {
    .desc-wrapper {
        width: 33em;
        padding: 2em;
        margin-bottom: -1.5em;
    }

    .desc-text{
        text-align: justify;
        font-size: 1em;
        color: aliceblue;
    }
}

@media only screen and (min-width: 1280px) {

}